<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EE Baukasten</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-blue.min.css" />
</head>
<body>

<h1>Eigenentwicklungen</h1>
<ul>
    {% for ee in ee_list %}
        <li><a href="{% url 'ee_detail' ee.id %}">{{ ee.name }}</a></li>
    {% endfor %}
</ul>

<h1>Gruppen</h1>
<ul>
    {% for gruppe in gruppen %}
        <li> <a href="{% url 'effekt_gruppe' gruppe.id %}">{{ gruppe.name }}</a></li>
    {% endfor %}
</ul>


</body>
</html>